 body{
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

button{
  background-color: #3EECAC;
  background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
}


.App {
	background: linear-gradient(-135deg, #8BC6EC, #525bf8, #97D9E1, #D9AFD9);
	background-size: 600% 600%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 50% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}